@model PetFinder.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimalType.Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalType.Species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.Hue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Hue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isReunited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isReunited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPetUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPetUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPetFinder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPetFinder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
