@model PetFinder.Models.Post


<div>
    <hr />
    <dl class="dl-horizontal">

        <dt style="display: none;">
          @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd class="big-text">
            "@Html.DisplayFor(model => model.Title)"
        </dd>
        <br />
        <dt style="display: none;">
            @Html.DisplayNameFor(model => model.AnimalType.Species)
        </dt>

        <dd style="display: none;">
            @Html.DisplayFor(model => model.AnimalType.Species)
        </dd>

        <dt style="display: none;">
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Url.Content(Model.Image)" style="height: 250px; width: 250px;"/>
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Color.Hue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Hue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd>
            @Model.PostDate.Value.ToShortDateString()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>

<!--This div should show the comments that belong to this post ID-->
<div class="top-buffer">
    @*@Html.Partial("_Details_Partial", new { id = Model.PostID }))*@
    @*@Html.ActionLink("View Comments", "Index", "Comments")*@
    <a href="@Url.Action("Index", "Comments", new { id = Model.PostID })" class="btn btn-primary">Get Comments</a>
    <a href="@Url.Action("Create", "Comments", new { id = Model.PostID })" class="btn btn-primary">Add Comment</a>
    <a href="@Url.Action("Index", "Posts")" class="btn btn-primary">Back to List</a>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUBB9Y1Zp2XUbMxdoBx59gnumFO9bJfiM"></script>
<script type="text/javascript">
    $(document).ready(function myMap() {
        var geocoder = new google.maps.Geocoder();
        var area = new google.maps.LatLng(43.03, -87.90);
        var mapCanvas = document.getElementById("map");
        var mapOptions = { center: area, zoom: 12 };
        var map = new google.maps.Map(mapCanvas, mapOptions);

        var marker = new google.maps.Marker({
            position: area,
            map: map
        });
    });
</script> 
@if (User.IsInRole("Customer"))
{
    <div id="map" class="top-buffer bottom-buffer col-xs-10 col-xs-offset-1"></div>
}


