@model PetFinder.Models.Post


<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimalType.Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalType.Species)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Url.Content(Model.Image)" style="height: 250px; width: 250px;"/>
            @*@Html.DisplayFor(model => model.Image)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.Hue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Hue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <!-- Added value.toshortdate string to not show the time in the details view-->
        <dd>
            @Model.PostDate.Value.ToShortDateString()
        </dd>
  
        <dt class="top-buffer">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd class="top-buffer">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    

        @*<dt>
            @Html.DisplayNameFor(model => model.isReunited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isReunited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPetUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPetUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPetFinder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPetFinder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>*@

    </dl>
</div>
<!--This div should show the comments tt belong to this post ID-->
<div>
    @*@Html.Partial("_Details_Partial", new PetFinder.Models.Comment())*@
    @*@Html.ActionLink("View Comments", "Index", "Comments")*@ 
    <a href="@Url.Action("Index", "Comments", new { id = Model.PostID })" class="btn btn-primary">Get Comments</a>
</div>
<p>
    @Html.ActionLink("Add Comment", "Create", "Comments") |
    @*@Html.ActionLink("Add Comment", "Create", "Comments", new { id = Model.PostID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
