@model IEnumerable<PetFinder.Models.Post>


<div class="top-buffer bottom-buffer col-xs-6">
    <h4 class="bottom-buffer">Use the search form to find a lost pet!</h4>
    @using (Html.BeginForm())
    {
        <b class="search-box">Search by Color &nbsp;</b><br />
            @Html.RadioButton("option", "Black")<text> Black</text><br />
            @Html.RadioButton("option", "Brown")<text> Brown</text><br />
            @Html.RadioButton("option", "Yellow")<text> Yellow</text><br />
            @Html.RadioButton("option", "White")<text> White</text><br />
            @Html.RadioButton("option", "Red")<text> Red</text><br />
            @Html.RadioButton("option", "Calico")<text> Calico</text><br />
            @Html.RadioButton("option", "Tabby")<text> Tabby</text><br />
            <br />
            <b class="search-box">Search By Animal: &nbsp;</b>
            @Html.TextBox("animalType")<input type="submit" value="Search" />
    }

</div>

<br class="clr" />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnimalType.Species)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color.Hue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
      
        @*<th>
            @Html.DisplayNameFor(model => model.isReunited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPetUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPetFinder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalType.Species)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color.Hue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
     
        @*<td>
            @Html.DisplayFor(modelItem => item.isReunited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPetUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPetFinder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>*@
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.PostID })
          
        </td>
    </tr>
}

</table>
